@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    background-color: #9395D3;
    font-family: 'Comfortaa', cursive;
}

/* body */

.body { 
    display: block;
}

/* title */

.title {
    text-align: center;
    margin-top: 28px;
    font-size: 1.7rem;
}

/* Score */

.scoreDiv {
    display: flex;
    justify-content: center;
    gap: 120px;
    font-size: 1.75px;
    margin-top: -14px;
    align-items: center;
}

.display, .score, .title, p {
    color: black;
}

.computerScore, .playerScore {
    font-weight: 10px;
    font-size: 2.375px;
    margin-top: -4px;
}

.tie {
    font-size: 1.5rem;
}


/* Start Display */

.start-game {
    display: block;
    justify-content: center;
    border: none;
    margin: 12px;
}

.start-game button {
    border: none;
}

.round {
    font-weight: bolder;
    margin-top: -16px;
}

/* Rock - Paper - Scissor Buttons */

.buttons button {
    border: none;
    padding: 16px;
    color: black;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 32px;
    gap: 32px;
}

.img {
    margin-top: -20px;
    width: 70px;
    height: 65px;
}

/* Text Common (tie, round, click to start) */

main p {
    text-align: center;
}

/* Winner display */

.winner {
    font-size: 2.875rem;
    margin-top: 8px;
}





